<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="CohesiveSoftware" value="https://pkgs.dev.azure.com/naspinski/_packaging/CohesiveSoftware/nuget/v3/index.json" />
  </packageSources>
</configuration>