<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 bg-light">
      <perfect-scrollbar class="full-width"
        [ngStyle]="{ 'height.px': contentHeight }"
      >
        <div class="container-fluid py-3">
          <div class="row">
            <div class="col-md-12">
              <div class="d-flex justify-content-between align-items-center">
                <h1 class="resource-name mb-0" translate>Register</h1>
              </div>
              <div class="card mt-3 bg-white">
                <div class="card-body py-2 px-3">
                  <div class="form-row">
                    <ul>
                      <li *ngFor="let user of users">
                        {{ user.Username }} ({{user.Email}})
                        <ul>
                          <li *ngFor="let request of user.xp.BuyerAccessRequests">
                            {{ request.BuyerName }}
                            <button class="btn btn-sm btn-danger" (click)="processRequest(user.ID, false, request)">
                              <fa-icon [icon]="faThumbsDown"></fa-icon>
                            </button>
                            <button class="btn btn-sm btn-success" (click)="processRequest(user.ID, true, request)">
                              <fa-icon [icon]="faThumbsUp"></fa-icon>
                            </button>
                          </li>
                        </ul>
                      </li>
                    </ul>
                    <div *ngIf="!isLoaded">loading</div>
                    <div *ngIf="isLoaded && users.length === 0">no pending requests</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
</div>
